.Rproj.user
.Rhistory
.RData
.Ruserdata

/Input_Data/SDWIS/
/Input_Data/Utility_Data/
/Output_Data
/External_Boundaries/Utility_Data/Existing_Systems_010924.zip
/Documentation/Presentations/
/Documentation/Documentation_files
/Documentation/_extensions
/Review
/Workflow/Data
/Workflow/Scripts
/Version_History/1_1/SAB_1_1.gdb
/Analysis/MASS_Compare.html
/Analysis/MASS_Compare.qmd
/Analysis/MASS_Compare_files/
/Analysis/GAO
/Analysis/Correct_State_Check.R
/Version_History/Version_Updater.R
/Version_History/1_0/Final_052024/
/Version_History/1_2/Pct_Buyers.csv
/Version_History/1_2/CWS_1_2.gdb
/Version_History/1_2/CWS_1_2.gpkg
/Version_History/CWS_Boundaries_Latest
/misc
/tables
/Documentation/062311 Documentation(508 reviewed).pdf.accreport.html
/External_Boundaries/State_Data/Territories/