.Rproj.user
.Rhistory
.RData
.Ruserdata

/Input_Data/SDWIS/
/Input_Data/Utility_Data/
/Output_Data/Archive
/External_Boundaries/Utility_Data/Existing_Systems_010924.zip
/Documentation/Presentations/
/Documentation/Documentation_files
/Documentation/_extensions
/Review
/Workflow/Data
/Workflow/Scripts

/misc
/tables